@import '../../../theme/mixins';

.root {
    background-color: var(--blue-200);
    border-radius: 10px;
    padding: 1.5rem 0.5rem 1.5rem 1.5rem;
}

.container {
    @include custom-scrollbars;
    overflow-y: auto;
    height: 15rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapper {
    color: var(--pink-500);
    font-size: 14px;
    font-weight: 600;
}

.prRoot {
    padding-right: 1.5rem;
}

.prContainer {
    padding-right: 0.5rem;
}
