.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: var(--blue-200);
    border-radius: 10px;
}

.wrapper {
    display: flex;
    gap: 1rem;
}

.text {
    color: var(--pink-500);
    font-size: 14px;
    font-weight: 500;
}

.allButton {
    min-width: 65px;
}

.activeButton {
    min-width: 87px;
}

.completedButton {
    min-width: 114px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    [class='p-button-label p-c'] {
        flex: initial;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 1rem;
    }

    .wrapper {
        width: 100%;
        justify-content: space-between;
    }

    .button {
        width: 100%;
    }
}
